/* General body style */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #dfffd6; /* light green background */
}

/* Game area box */
.game {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 40px auto;
  background-color: #c8f7c5;
  border: 2px solid #333;
  overflow: hidden;
}

#dino {
  width: 80px;                 /* size of dino */
  height: 80px;
  background: url("dinopp.png") no-repeat center/cover;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

/* Obstacle (cactus) */
#obstacle {
  width: 30px;
  height: 50px;
  background-color: darkgreen;
  position: absolute;
  bottom: 50px;
  right: -30px; /* start outside */
}

/* Ground */
#ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: brown;
}

/* Score */
#score {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/* Game Over screen */
#gameOver {
  display: none; /* hidden until game ends */
  margin-top: 20px;
}

#gameOver h1 {
  color: red;
}

#gameOver button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
